<!--
 * @Author: Theo_hui
 * @Date: 2020-10-13 18:36:41
 * @Descripttion: 
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Walter系统模拟</title>
    <!-- <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

    <!-- 上面的版本和网址过期了，更新为下面的： -->
    <!-- 1. 先加载 Vue (必须最先加载) -->
    <script src="https://cdn.staticfile.org/vue/2.6.14/vue.min.js"></script>
    <!-- 2. 加载 Element UI 的 CSS -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.6/theme-chalk/index.css">
    <!-- 3. 加载 Element UI 的 JS (依赖 Vue) -->
    <script src="https://cdn.staticfile.org/element-ui/2.15.6/index.js"></script>
    <!-- 4. 加载 Axios -->
    <script src="https://cdn.staticfile.org/axios/0.18.1/axios.min.js"></script>
    <!-- 5. 加载 Lodash -->
    <script src="https://cdn.staticfile.org/lodash.js/4.17.21/lodash.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> 
    <link rel="icon" href="图标地址" type="image/x-icon">  
    
</head>
<body>
    <div id="app">
        <el-row gutter="50" justify="center" type="flex" style="margin-top: 10px;">
            <el-col :span="10">
                <el-card class="box-card" shadow="always">
                    <div slot="header" class="clearfix">
                      <span><i class="el-icon-s-home" style="font-size:30px"></i> <span style="font-size: 30px;"> server 0</span>       127.0.0.1:5000</span>
                      <el-button style="float: right; padding: 3px 0" type="text"><el-button plain @click="flushsite00" ><i class="el-icon-refresh"></i>刷新状态</el-button></el-button>
                    </div>
                    <div class="text item" style="color:gray">
                        <p>currentSeqNo:{{site00.currentSeqNo}}</p>
                        <p>CommittedVTS:{{site00.CommittedVTS}}</p>
                        <p>GotVTS:{{site00.GotVTS}}</p>
                        <p>online users: [ Alice ]</p>
                    </div>
                    <el-divider><i class="el-icon-s-data"></i> History</el-divider>
                    <div class="text item" style="padding-top: 20px;">
                        <el-collapse >
                            <el-collapse-item v-for="(value,key,index) in site00.myHistory">
                                <template slot="title">
                                    <el-tag style="margin-left: 2px;">{{key}}</el-tag>
                                </template>
                                <li v-for="his in value">{{his}}</li>
                            </el-collapse-item>
                            <el-collapse-item v-for="(value,key,index) in site00.otherHistory">
                                <template slot="title">
                                    <el-tag type="danger" style="margin-left: 2px;">{{key}}</el-tag>
                                </template>
                                <li v-for="his in value">{{his}}</li>
                            </el-collapse-item>
                          </el-collapse>
                    </div>
                </el-card>
            </el-col>
            <el-col :span="10">
                <el-card class="box-card" shadow="always">
                    <div slot="header" class="clearfix">
                      <span><i class="el-icon-s-home" style="font-size:30px"></i> <span style="font-size: 30px;"> server 1</span>       127.0.0.1:5001</span>
                      <el-button style="float: right; padding: 3px 0" type="text"><el-button plain @click="flushsite01"><i class="el-icon-refresh"></i>刷新状态</el-button></el-button>
                    </div>
                    <div class="text item" style="color:gray">
                        <p>currentSeqNo:{{site01.currentSeqNo}}</p>
                        <p>CommittedVTS:{{site01.CommittedVTS}}</p>
                        <p>GotVTS:{{site01.GotVTS}}</p>
                        <p>online users: [ Bob, Eva ]</p>
                    </div>
                    <el-divider><i class="el-icon-s-data"></i> History</el-divider>
                    <div class="text item" style="padding-top: 20px;">
                        <el-collapse >
                            <el-collapse-item v-for="(value,key,index) in site01.myHistory">
                                <template slot="title">
                                    <el-tag style="margin-left: 2px;">{{key}}</el-tag>
                                </template>
                                <li v-for="his in value">{{his}}</li>
                            </el-collapse-item>
                            <el-collapse-item v-for="(value,key,index) in site01.otherHistory">
                                <template slot="title">
                                    <el-tag type="danger" style="margin-left: 2px;">{{key}}</el-tag>
                                </template>
                                <li v-for="his in value">{{his}}</li>
                            </el-collapse-item>
                          </el-collapse>
                    </div>
                </el-card>
            </el-col>
        </el-row>

        <el-row gutter="20" justify="center" type="flex" style="margin-top: 20px; align-items: stretch;">
            <el-col :span="7">
                <el-card class="box-card">
                    <div class="item text" style="display:flex;align-items:center;justify-content:space-between;">
                        <el-avatar> Alice</el-avatar>
                        <el-button size="mini" icon="el-icon-refresh" @click="flushAlice">刷新</el-button>
                    </div>
                    <el-divider content-position="left"><i class="el-icon-chat-line-round"></i> 说说列表</el-divider>
                    <div class="item text" style="font-size:13px;">
                        <div v-for="(val,key) in Alice.posts" :key="key" style="margin-bottom:4px;">
                            <el-tag size="mini" type="info">{{key}}</el-tag> {{val}}
                        </div>
                    </div>
                    <el-divider content-position="left"><i class="el-icon-user"></i> 好友列表</el-divider>
                    <div class="item text" style="font-size:13px;">
                        <div v-for="m in Alice.friends" :key="m" style="margin-bottom:4px;">
                            <el-tag size="mini" type="success">{{m}}</el-tag>
                        </div>
                    </div>
                    <el-divider></el-divider>
                    <div class="item text">
                        <el-tabs>
                            <el-tab-pane label="事务1" name="first">
                                <p>发表说说</p>
                                <el-input
                                type="textarea"
                                :rows="4"
                                v-model="AliceT1">
                                </el-input>
                                <el-input
                                type="textarea"
                                :rows="4"
                                v-model="AliceT1Result">
                                </el-input>
                                <el-button type="primary" size="small" @click="TransAliceT1">执行AT1</el-button>
                            </el-tab-pane>
                            <el-tab-pane label="事务2" name="second">
                                <p>添加Eva好友</p>
                                <el-input
                                    type="textarea"
                                    :rows="4"
                                    v-model="AliceT2">
                                </el-input>
                                <el-input
                                    type="textarea"
                                    :rows="4"
                                    v-model="AliceT2Result">
                                </el-input>
                                <span>延迟执行/ms</span> <el-input-number v-model="AliceT2Delay"  :min="1" :max="10000" size="mini" step=500></el-input-number>
                                <el-button type="primary" size="small" @click="TransAliceT2">执行</el-button>
                            </el-tab-pane>
                        </el-tabs>
                    </div>
                </el-card>
            </el-col>
            <el-col :span="7">
                <el-card class="box-card">
                    <div class="item text" style="display:flex;align-items:center;justify-content:space-between;">
                        <el-avatar> Bob</el-avatar>
                        <el-button size="mini" icon="el-icon-refresh" @click="flushBob">刷新</el-button>
                    </div>
                    <el-divider content-position="left"><i class="el-icon-chat-line-round"></i> 说说列表</el-divider>
                    <div class="item text" style="font-size:13px;">
                        <div v-for="(val,key) in Bob.posts" :key="key" style="margin-bottom:4px;">
                            <el-tag size="mini" type="info">{{key}}</el-tag> {{val}}
                        </div>
                    </div>
                    <el-divider content-position="left"><i class="el-icon-user"></i> 好友列表</el-divider>
                    <div class="item text" style="font-size:13px;">
                        <div v-for="m in Bob.friends" :key="m" style="margin-bottom:4px;">
                            <el-tag size="mini" type="success">{{m}}</el-tag>
                        </div>
                    </div>
                    <el-divider></el-divider>
                    <div class="item text">
                        <el-tabs>
                            <el-tab-pane label="事务1" name="first">
                                <p>评论Alice</p>
                                <el-input
                                    type="textarea"
                                    :rows="4"
                                    v-model="BobT1">
                                </el-input>
                                <el-input
                                    type="textarea"
                                    :rows="4"
                                    v-model="BobT1Result">
                                </el-input>
                                <el-button type="primary" size="small" @click="TransBobT1">执行</el-button>
                            </el-tab-pane>
                            <el-tab-pane label="事务2" name="second">
                                <p>添加Eva好友</p>
                                <el-input
                                    type="textarea"
                                    :rows="4"
                                    v-model="BobT2">
                                </el-input>
                                <el-input
                                    type="textarea"
                                    :rows="4"
                                    v-model="BobT2Result">
                                </el-input>
                                <el-button type="primary" size="small" @click="TransBobT2">执行</el-button>
                            </el-tab-pane>
                        </el-tabs>
                    </div>
                </el-card>
            </el-col>
            <el-col :span="7">
                <el-card class="box-card">
                    <div class="item text" style="display:flex;align-items:center;justify-content:space-between;">
                        <el-avatar> Eva</el-avatar>
                        <el-button size="mini" icon="el-icon-refresh" @click="flushEva">刷新</el-button>
                    </div>
                    <el-divider content-position="left"><i class="el-icon-chat-line-round"></i> 说说列表</el-divider>
                    <div class="item text" style="font-size:13px;">
                        <div v-for="(val,key) in Eva.posts" :key="key" style="margin-bottom:4px;">
                            <el-tag size="mini" type="info">{{key}}</el-tag> {{val}}
                        </div>
                    </div>
                    <el-divider content-position="left"><i class="el-icon-user"></i> 好友列表</el-divider>
                    <div class="item text" style="font-size:13px;">
                        <div v-for="m in Eva.friends" :key="m" style="margin-bottom:4px;">
                            <el-tag size="mini" type="success">{{m}}</el-tag>
                        </div>
                    </div>
                    <el-divider></el-divider>
                    <div class="item text">
                        <el-tabs>
                            <el-tab-pane label="事务1" name="first">
                                <p style="color:#909399;font-size:12px;">步骤E: 先读ssA01（预期无数据），写自己说说ssB01，再读ssA01（传播前仍无）</p>
                                <el-input
                                    type="textarea"
                                    :rows="4"
                                    v-model="EvaT1">
                                </el-input>
                                <el-input
                                    type="textarea"
                                    :rows="4"
                                    v-model="EvaT1Result">
                                </el-input>
                                <el-button type="primary" size="small" @click="TransEvaT1">执行</el-button>
                            </el-tab-pane>
                            <el-tab-pane label="事务2" name="second">
                                <p style="color:#909399;font-size:12px;">T1传播到s01后再读ssA01，可见Alice说说（长分叉验证）</p>
                                <el-input
                                    type="textarea"
                                    :rows="3"
                                    v-model="EvaT2">
                                </el-input>
                                <el-input
                                    type="textarea"
                                    :rows="3"
                                    v-model="EvaT2Result">
                                </el-input>
                                <el-button type="primary" size="small" @click="TransEvaT2">执行</el-button>
                            </el-tab-pane>
                        </el-tabs>
                    </div>
                </el-card>
            </el-col>
        </el-row>
    </div>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data:{
            site00:{},
            site01:{},
            //定时器id
            autoTimer:null,
            //AliceT2的执行延时
            AliceT2Delay:1000,
            //Alice的事务T1
            AliceT1:"[\n\
    [\"write\",\"ssA01\",\"Alice的说说1\"],\n\
    [\"read\",\"ssA01\"]\n\
]",
            AliceT1Result:"",
            AliceT2:"[\n\
    [\"setAdd\", \"ssA01\", \"Eva\"],\n\
    [\"setAdd\",\"flEve\",\"Alice\"],\n\
    [\"setRead\",\"flEve\"]\n\
]",
            AliceT2Result:"",
            //Bob的事务T1 T2
            BobT1:"[\n\
    [\"write\",\"ssA01\",\"Alice的说说1 (Bob 评论说：点赞)\"],\n\
    [\"read\",\"ssA01\"]\n\
]",         BobT1Result:"",
            BobT2:"[\n\
    [\"setAdd\", \"ssB01\", \"Eva\"],\n\
    [\"setAdd\",\"flEve\",\"Bob\"],\n\
    [\"setRead\",\"flEve\"]\n\
]",
            BobT2Result:"",
            //Eva的事务T1：先读ssA01(预期空/无数据)，再写ssB01(发自己说说)，再读ssA01(T1传播后可见)
            EvaT1:"[\n\
    [\"read\",\"ssA01\"],\n\
    [\"write\",\"flEve\",\"Eva的说说T7\"],\n\
    [\"read\",\"ssA01\"]\n\
]",
            EvaT1Result:"",
            //Eva的事务T2：T1传播到s01后，再次读取ssA01，应能看到Alice的说说(长分叉)
            EvaT2:"[\n\
    [\"read\",\"ssA01\"]\n\
]",
            EvaT2Result:"",
            // 用户数据
            Alice:{ posts:{}, friends:{} },
            Bob:  { posts:{}, friends:{} },
            Eva:  { posts:{}, friends:{} }
            },
        methods:{
            //刷新site00
            flushsite00:function(){
                    var vm=this;
                    axios.get('http://127.0.0.1:5000/flush')
                        .then(function(res){
                            vm.site00=res.data
                        })
                        .catch(function(erroe){
                            console.log("请求API失败")
                        })
            },

            //刷新site01
            flushsite01:function(){
                    var vm=this;
                    axios.get('http://127.0.0.1:5001/flush')
                        .then(function(res){
                            vm.site01=res.data
                        })
                        .catch(function(erroe){
                            console.log("请求API失败")
                        })
            },

            //启动自动刷新
            startAutoFlush:function(){
                    var vm=this;
                    //先清除旧定时器
                    if(vm.autoTimer) clearInterval(vm.autoTimer);
                    vm.autoTimer = setInterval(function(){
                        vm.flushsite00();
                        vm.flushsite01();
                        vm.flushAlice();
                        vm.flushBob();
                        vm.flushEva();
                    },1000);
            },

            //停止自动刷新
            stopAutoFlush:function(){
                    var vm=this;
                    if(vm.autoTimer) clearInterval(vm.autoTimer);
                    vm.autoTimer=null;
            },

            // 刷新 Alice 用户数据（连接 server 0）
            flushAlice:function(){
                var vm=this;
                axios.post('http://127.0.0.1:5000/user_data?uid=ssA01', {})
                    .then(function(res){
                        vm.Alice.posts   = res.data.posts || {};
                        vm.Alice.friends = res.data.friends || {};
                    }).catch(function(){ console.log('Alice刷新失败'); });
            },

            // 刷新 Bob 用户数据（连接 server 1）
            flushBob:function(){
                var vm=this;
                axios.post('http://127.0.0.1:5001/user_data?uid=ssB01', {})
                    .then(function(res){
                        vm.Bob.posts   = res.data.posts || {};
                        vm.Bob.friends = res.data.friends || {};
                    }).catch(function(){ console.log('Bob刷新失败'); });
            },

            // 刷新 Eva 用户数据（连接 server 1）
            flushEva:function(){
                var vm=this;
                axios.post('http://127.0.0.1:5001/user_data?uid=flEve', {})
                    .then(function(res){
                        vm.Eva.posts   = res.data.posts || {};
                        vm.Eva.friends = res.data.friends || {};
                    }).catch(function(){ console.log('Eva刷新失败'); });
            },

            //上传事务AliceT1：写ssA01（发表说说）并读取
            TransAliceT1:function(){
                var vm=this;
                var events = JSON.parse(this.AliceT1);
                axios.post('http://127.0.0.1:5000/transaction',events)
                     .then(function(res){
                        console.log("请求API成功")
                        vm.AliceT1Result=JSON.stringify(res.data, null, 2)
                        vm.flushsite00()
                        vm.flushAlice()
                     })
                     .catch(function(erroe){
                        console.log("请求API失败")
                     })
                },
            //上传事务AliceT2
            TransAliceT2:function(){

                clearTimeout(this.timer);  //清除延迟执行
 
                this.timer = setTimeout(()=>{   //设置延迟执行
                    var vm=this;
                    var events = JSON.parse(this.AliceT2);
                    axios.post('http://127.0.0.1:5000/transaction',events)
                     .then(function(res){
                        console.log("AT2请求API成功")
                        vm.AliceT2Result=JSON.stringify(res.data)
                        vm.flushsite00()
                        events.forEach(function(e){
                            if(e[0]==='setAdd'){
                                axios.post('http://127.0.0.1:5000/add_friend', {
                                    uid:'ssA01',
                                    setid:e[1],
                                    friend_name:e[2]
                                });
                            }
                            if(e[0]==='setDel'){
                                axios.post('http://127.0.0.1:5000/del_friend', {
                                    uid:'ssA01',
                                    setid:e[1],
                                    friend_name:e[2]
                                });
                            }
                        });
                        vm.flushAlice();
                     })
                     .catch(function(erroe){
                        console.log("AT1请求API失败")
                     })
                },this.AliceT2Delay);
                },
            //上传事务BobT1：写ssA01评论（跨站点写）并读取
            TransBobT1:function(){
                var vm=this;
                var events = JSON.parse(this.BobT1);
                axios.post('http://127.0.0.1:5001/transaction',events)
                     .then(function(res){
                        console.log("请求API成功")
                        vm.BobT1Result=JSON.stringify(res.data, null, 2)
                        vm.flushsite01()
                        vm.flushBob()
                     })
                     .catch(function(erroe){
                        console.log("请求API失败")
                     })
                },
            //上传事务AliceT2
            TransBobT2:function(){
                var vm=this;
                var events = JSON.parse(this.BobT2);
                axios.post('http://127.0.0.1:5001/transaction',events)
                     .then(function(res){
                        console.log("请求API成功")
                        vm.BobT2Result=JSON.stringify(res.data)
                        vm.flushsite01()
                        events.forEach(function(e){
                            if(e[0]==='setAdd'){
                                axios.post('http://127.0.0.1:5001/add_friend', {
                                    uid:'ssB01',
                                    setid:e[1],
                                    friend_name:e[2]
                                });
                            }
                            if(e[0]==='setDel'){
                                axios.post('http://127.0.0.1:5001/del_friend', {
                                    uid:'ssB01',
                                    setid:e[1],
                                    friend_name:e[2]
                                });
                            }
                        });
                        vm.flushBob();
                     })
                     .catch(function(erroe){
                        console.log("请求API失败")
                     })
                },
            //上传事务EvaT1：先读ssA01，写ssB01，再读ssA01（传播前后对比）
            TransEvaT1:function(){
                    var vm=this;
                    var events = JSON.parse(this.EvaT1);
                    axios.post('http://127.0.0.1:5001/transaction',events)
                        .then(function(res){
                            console.log("EvaT1请求API成功")
                            vm.EvaT1Result=JSON.stringify(res.data, null, 2)
                            vm.flushsite01()
                            vm.flushEva()
                        })
                        .catch(function(erroe){
                            console.log("EvaT1请求API失败")
                        })
                    },
            //上传事务EvaT2：T1传播后再读ssA01，验证长分叉
            TransEvaT2:function(){
                    var vm=this;
                    var events = JSON.parse(this.EvaT2);
                    axios.post('http://127.0.0.1:5001/transaction',events)
                        .then(function(res){
                            console.log("EvaT2请求API成功")
                            vm.EvaT2Result=JSON.stringify(res.data, null, 2)
                            vm.flushsite01()
                            vm.flushEva()
                        })
                        .catch(function(erroe){
                            console.log("EvaT2请求API失败")
                        })
                    },
        },
        //生命周期钩子
        created:function(){
            this.startAutoFlush();
        },
        beforeDestroy:function(){
            this.stopAutoFlush();
        }
    })
</script>
</html>
